<div class="row about">
          <h2 data-magellan-destination="about" class="heading">About</h2>
          <div class="medium-6 large-8 columns" >
               <a name="about"></a>
               <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
               <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
          </div>
          <div class="medium-6 large-4 columns">
                <!--Trying some Clip Path-->
               <div class="wrap">
     		     <div class="clip-block">
     			     <div class="clip-each clip-solid"> </div>	
     		     </div> <!-- /clip-block -->
                    <svg class="clip-svg">
     			<defs>
     				<clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
     					<polygon points="0.25 0.05, 0.75 0.05, 1 0.5, 0.75 0.95, 0.25 0.95, 0 0.5" />
     				</clipPath>
     			</defs>
                    </svg>	
     		
          		<svg class="clip-svg">
          			<defs>
          				<clipPath id="triangle-clip" clipPathUnits="objectBoundingBox">
          					<polygon points="1 0.05, 0.09 1, 1 1" />
          				</clipPath>
          			</defs>
          		</svg>	
     	     </div> <!-- /wrap -->
               <!-- End Clip Wrap -->
          </div>
       </div>