<div class="row about">
          <h2 data-magellan-destination="about" class="heading">About<section class="breaker"></section></h2>
          <div class="medium-6 large-8 columns" >
               <a name="about"></a>
               <p>Hi! I'm Julie and I love exploring the web. I have a passion for making things that look, feel, and operate better.  Sometimes I do this in my coding by employing the latest web development techniques. Other times it's found in my cooking, photography, or my interest in learning something new.</p>
               <p>I have two bachelor degrees from Winthrop University. The first is in Psychology and was earned in 2009. My second degree was completed in 2014 and is in Digital Information Design, with a focus on web application development. The combination of these two degrees allows me a unique perspective on web development and working with people.</p>
               <p>My husband and I are making a move from the Charlotte, NC area to Seattle soon, where I hope to continue my work as a front end web developer. Feel free to read my quick thoughts and shares on <a href="https://twitter.com/juliemspragg" target="_blank">Twitter</a>, check out my previous work in my <a href="/portfolio">Portfolio</a>, or connect with me on <a href="https://www.linkedin.com/in/juliemspragg" target="_blank">LinkedIn</a>.
          </div>
          <div class="medium-6 large-4 columns">
                <!--Trying some Clip Path-->
               <div class="wrap">
     		     <div class="clip-block">
     			     <div class="clip-each clip-solid"> </div>	
     		     </div> <!-- /clip-block -->
                    <svg class="clip-svg">
     			<defs>
     				<clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
     					<polygon points="0.25 0.05, 0.75 0.05, 1 0.5, 0.75 0.95, 0.25 0.95, 0 0.5" />
     				</clipPath>
     			</defs>
                    </svg>	
     		
          		<svg class="clip-svg">
          			<defs>
          				<clipPath id="triangle-clip" clipPathUnits="objectBoundingBox">
          					<polygon points="1 0.05, 0.09 1, 1 1" />
          				</clipPath>
          			</defs>
          		</svg>	
     	     </div> <!-- /wrap -->
               <!-- End Clip Wrap -->
          </div>
       </div>