  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">&copy; 2020 {{ site.title }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-2 col-md-offset-2">
                	<ul class="list-inline social-buttons">
	                	<li><a href="/photos"><i class="fa fa-camera"></i></a>
						<li><a href="/recipes"><i class="fa fa-cutlery"></i></a>
						<!--<li class="photoLink"><a href="/"><i class="fa fa-laptop"></i></a>-->
                        </li>
                	</ul>
                </div>
            </div>
        </div>
    </footer>