<!--from include portfoliohome--->
<div class="row-collapse portfolio">
          <h2 data-magellan-destination="portfolio" class="heading">Portfolio</h2>
          <div class="large-10 large-offset-1 columns">
               <a name="portfolio"></a>
               <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-3 large-block-grid-3" data-clearing="">
                  <li>
                    <figure>
                         <a><img src="https://placeimg.com/640/480/animals"/></a>
                         <figcaption>
                              <div class="portfolio_info">
                                   <h4>Title of Work</h4>
                                   <p class="hide-for-small-only">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
                                   <a href="/portfolio" class="btn">View Project</a>
                              </div>
                         </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure>
                         <a><img src="https://placeimg.com/640/480/animals"/></a>
                         <figcaption>
                              <div class="portfolio_info">
                                   <h4>Title of Work</h4>
                                   <p class="hide-for-small-only">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
                                   <a href="portfolio" class="btn">View Project</a>
                              </div>
                         </figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure>
                         <a><img src="https://placeimg.com/640/480/animals"/></a>
                         <figcaption>
                              <div class="portfolio_info">
                                   <h4>Title of Work</h4>
                                   <p class="hide-for-small-only">Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
                                   <a href="" class="btn">View Project</a>
                              </div>
                         </figcaption>
                    </figure>
                  </li>
              </ul>
          </div>

          <hr>
</div>