<!-- Team Section -->
    <section id="aboutMe" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-7">
            	<p>Hi! I'm Julie and I love exploring the web. I have a passion for making things that look, feel, and operate better. Sometimes I do this in my coding by employing the latest web development techniques. Other times it's found in my cooking, photography, or my interest in learning something new.</p>
				<p>I have two bachelor degrees from Winthrop University. The first is in Psychology and was earned in 2009. My second degree was completed in 2014 and is in Digital Information Design, with a focus on web application development. The combination of these two degrees allows me a unique perspective on web development and working with people.</p>
				<p>My husband and I are making a move from the Charlotte, NC area to Raleigh soon, where I hope to continue my work as a front end web developer. Feel free to read my quick thoughts and shares on <a href="https://twitter.com/juliemspragg" target="_blank">Twitter</a>, check out my previous work in my <a href="#portfolio">Portfolio</a>, or connect with me on <a href="https://www.linkedin.com/in/juliemspragg" target="_blank">LinkedIn</a>.
          </p>
            	</div>
            	<div class="col-md-1"></div>
                {% for member in site.people %}
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">					
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        
        </div>
    </section>