<!-- Team Section -->
    <section id="aboutMe" class="Photography">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>
            <div class="row">
	            <div class="col-lg-12 bumper"></div>
            </div>
            
            <div class="row">
            
            	<div class="col-md-7 hidden-xs">
            	<p>Hi! I'm Julie and I love taking photos and creating dishes. Like any southern gal, I started cooking at an early age. I would stand with my mom in the kitchen and watch her throw dishes together. Today, I have her old cookbooks and some recipes from around the web that I try out from time to time.</p>
				<p>I'm adding to this collection as I go, but for now I've featured a few recipes that were hits.  If it doesn't create a mess, it probably wasn't a hit, so be warned. If you have any questions, use the<a class="page-scroll" href="#contact">contact form</a> below.</p>
            	</div>
            	<div class="col-md-1"></div>
                {% for member in site.people1 %}
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="/img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">					
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        
        </div>
    </section>