<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %} Web Developer</title>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>    
    <script src="js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="css/new.css" />
    
  </head>
  <body>
       <!--LOGO/NAV-->
     <div class="hero">
          <div class="sticky">
               <div class="headingText" data-topbar role="navigation" data-options="sticky_on: large">
                   <div class="logo large-12 columns">
                        <span class="scroll-hide">HELLO, I'M</span> 
                        <span class="logoName"><a href="{{ "/" | prepend: site.baseurl }}">JULIE SPRAGG</a></span>
                        <br/><span class="logoTitle">FRONT END</span> <span class="scroll-hide">WEB</span><span class="logoTitle"> DEVELOPER</span>
                        </div>
               </div>
          </div>
     </div>
       
       {{ content }}
                  
       <!--FOOTER-->
     <footer>
          <div class="row"></div>
          <div class="copyright">© 2015 Julie Spragg. All rights reserved.</div>
     </footer>
       
       
         <script src="js/vendor/jquery.js"></script>
         <script src="js/foundation/foundation.js"></script>
         <script src="js/foundation/foundation.magellan.js"></script>
         <script src="js/foundation/foundation.topbar.js"></script>
         <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
         <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
         <script src="js/customjs.js"></script>
         <script>
              $(document).foundation(
              {
                   sticky_class : 'sticky',
                   "magellan-expedition": {
                      active_class: 'active', // specify the class used for active sections
                      threshold: 0, // how many pixels until the magellan bar sticks, 0 = auto
                      destination_threshold: 20, // pixels from the top of destination for it to be considered active
                      throttle_delay: 50, // calculation throttling to increase framerate
                      fixed_top: 0, // top distance in pixels assigend to the fixed element on scroll
                      offset_by_height: true // whether to offset the destination by the expedition height. Usually you want this to be true, unless your expedition is on the side.
                    },
               });
          </script>
          <script type="text/javascript">
            	// validate contact form
                 $(function() {
                    $('#contact').validate({
                 	        rules: {
                 	            name: {
                 	                required: true,
                 	                minlength: 2
                 	            },
                 	            email: {
                 	                required: true,
                 	                email: true
                 	            },
                 	            message: {
                 	                required: true
                 	            },
                 	        },
                 	        messages: {
                 	            name: {
                 	                required: "This field is required.",
                 	            },
                 	            email: {
                 	                required: "This field is required."
                 	            },
                 	            message: {
                 	                required: "This field is required.",
                 	            },
                 	            
                 	        },
                            
                 	    });
                    });
          </script>
  </body>
</html>