{% include header.html %}
  <body>
       <!--LOGO/NAV-->
     <div class="hero">
          <div class="nav-sticky sticky">

	<nav class="top-bar"  data-topbar role="navigation">

		<ul class="title-area">
			<!-- Title Area -->
			<!--logo-->
              <li class="logo lefty visible-for-small-only"><span class="scroll-hide">HELLO, I'M</span> 
               <span class="logoName"><a href="{{ "/" | prepend: site.baseurl }}"> JULIE SPRAGG</a></span><br/>
               <span class="logoTitle">FRONT END <span class="scroll-hide">WEB</span> DEVELOPER<br/></span></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>
   
		

	<section class="top-bar-section" style="left: 0%;">
			<ul>
				<li class=""><a href="/">Home</a></li>
				<li><a href="{{ "/" | prepend: site.baseurl }}portfolio">Portfolio</a></li>
<!--logo-->
               				<li class="logo hide-for-small-only"><span class="scroll-hide">HELLO, I'M</span> 
                                       <span class="logoName"><a href="{{ "/" | prepend: site.baseurl }}">JULIE SPRAGG</a></span>
                                       <br/>
                                       <span class="logoTitle">FRONT END</span> <span class="scroll-hide">WEB</span><span class="logoTitle"> DEVELOPER</span></li>				<li><a href="/resume">Resume</a></li>
				<li><a href="{{ "/" | prepend: site.baseurl }}#contact">Contact</a></li>
			</ul>
		</section></nav>
	
</div>
     </div>
     
       
  {{ content }}
             
{% include footer.html %}