{% include header.html %}
  <body>
    <div class="nav-sticky sticky">

	<nav class="top-bar"  data-topbar role="navigation">
		<ul class="title-area">
			<!-- Title Area -->
			<!--logo-->
			<li class="logo "><span class="scroll-hide">HELLO, I'M</span> 
                   <span class="logoName"><a href="{{ "/" | prepend: site.baseurl }}">JULIE SPRAGG</a></span>
                   <br/>
                   <span class="logoTitle">FRONT END</span> <span class="scroll-hide">WEB</span><span class="logoTitle"> DEVELOPER</span></li>
               <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>
	<section class="top-bar-section" style="left: 0%;">
			<ul>
				<li class=""><a href="/">Home</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
<!--logo-->
               				<li class="logo hide-for-medium-down"><span class="scroll-hide">HELLO, I'M</span> 
                                       <span class="logoName"><a href="{{ "/" | prepend: site.baseurl }}">JULIE SPRAGG</a></span>
                                       <br/>
                                       <span class="logoTitle">FRONT END</span> <span class="scroll-hide">WEB</span><span class="logoTitle"> DEVELOPER</span></li>				<li><a href="/resume">Resume</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</section></nav>
	
</div>
     
  {{ content }}
  <div class="row-collapse portfolio">
          <h2 data-magellan-destination="portfolio" class="heading">Portfolio</h2>
          <div class="small-11 small-centered columns">
               <a name="portfolio"></a>
               <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-3 large-block-grid-3" data-clearing="">
                  <li><figure class="effect-oscar">
					<img src="img/iphoneRSS.jpg" alt="RSS App" height="400"/>
					<figcaption>
						<h2>RSS <span>Reader</span></h2>
						<p class="hide-for-small">A small project using responsive design techniques to develop an app for RSS Feeds.</p>
						<p><i class="fa fa-search hide-for-large"></i></p>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
				</li>
				<li><figure class="effect-oscar">
					<img src="http://lorempixel.com/output/technics-q-c-640-480-4.jpg" alt="img09"/>
					<figcaption>
						<h2>Title <span>Work</span></h2>
						<p class="hide-for-small">Oscar is a decent man. He used to clean porches with pleasure.</p>
						<p><i class="fa fa-search hide-for-large"></i></p>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
				</li>
				<li><figure class="effect-oscar">
					<img src="http://lorempixel.com/output/technics-q-c-640-480-4.jpg" alt="img09"/>
					<figcaption>
						<h2>Title <span>Work</span></h2>
						<p class="hide-for-small">Oscar is a decent man. He used to clean porches with pleasure.</p>
						<p><i class="fa fa-search hide-for-large"></i></p>
						<a href="#">View more</a>
					</figcaption>			
				</figure>
				</li>
              </ul>
          </div>
</div>
<div class="row-collapse">
     <div class="large-12 columns portfolio_link">
          <h2><a href="">Want to see more?</a></h2>
          <a href="{{"/portfolio/" | prepend: site.baseurl }}" class="btn">View All Work</a>
     </div>
</div>
{% include footer.html %}